apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: adm-stg
  labels:
    app: whoami
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: traefik/whoami:v1.10.1
          ports:
            - name: http
              containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: whoami
  namespace: adm-stg
spec:
  selector:
    app: whoami
  ports:
    - name: http
      port: 80
      targetPort: http